#vs code settings file
.vscode

#python virtual environment
.venv

#notes
notes

#tekst
tekst

#latex
*.log
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
*.gz
*.toc

#cython
build
*.c
*.pyd
*.so
*.pyc
*.0