#vs code settings file
.vscode

#python virtual environment
.venv

#notes
notes

#tekst
tekst

#latex
*.log
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
*.gz
*.toc

#cython
**/cython_files/**/build
**/cython_files/**/*.c
**/cython_files/**/*.pyd
**/cython_files/**/*.so